* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #eee;
}

#container {
  /* 全体のサイズ */
  height: 100%;
  width: device-width;
}

#messages_container {
  height: 100%;
  width: 100%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}
/* flex containerに変更*/

#messages_header {
  padding: 6px;
  font-size: 16px;
  height: 40px;
  background: #ddd;
  border: 1px solid #ccc;
  display: flex;
  justify-content: flex-start;
}

#header_logo {
  margin-left: 5px;
}
/*ヘッダーのコンテンツの左側に、ほんの少しmargin*/

img.a3rt_logo {
  float: left;
  width: 60px;
  height: 30px;
}

#title {
  float: left;
  line-height: 2em;
  padding-left: 8px;
}

#root {
  width: 80%;
  align-self: center;
}
/* ヘッダーより下のコンテンツを真ん中に寄せる */

#form-button:hover {
  cursor: pointer;
}
